.cheeseburger {
    color: rgba(59, 49, 57, 0.5);
    font-size: 42px;
}


h2 {
    color: red;
}

.koala {
    color: rgba(35, 99, 69, 0.329);
    height: 300px;
    width: 200px;
    

}

.stone {
    color: rgb(21, 117, 101)
}