html {
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
}

.callout {
    background-color: rgb(92, 111, 119);
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    background-repeat: no-repeat;
    padding: 12px;
    padding-top: 90px;
    width: 300px;
    
}

img src {
    padding-top: 90px;

}
.career-support {
    background-image: url("https://creativemarket.com/chudtsankov/1587103-Smiling-Black-And-White-Balloon/screenshots/#screenshot1)";
    background-repeat: no-repeat;
}

